
    /* signup form design */

.container {
      margin: auto;
      border-radius: 0px;
      background-color: #E6E6FA;
      padding: 10px;
      width: 50%;
  }

.icon {
      width: 15px;
      padding: 8px 10px;
      margin: 10px 0px;
      color: dodgerblue;
      border: 2px solid dodgerblue;
}

  .input-field {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0px;
  }

 .input-field:focus {
    border: 2px solid dodgerblue;
 }

 input[type=radio] {
    width: 30px;
    transform: scale(1.2);
 }

  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 14px 0px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }

  .txt-decor-nn {
    text-decoration: none;
  }

.btn:hover {
    opacity: 1;
}

.row {
    display: flex;
}

.clm {
  width: 100%;
  margin: 10px 5px;
}

.pos-tp-5 {
    position: sticky;
    top: 5px;
}

.mr-bt-10 {
    margin-bottom: 10px;
}

.mr-15-0 {
    margin: 15px 0px;
}

.ln-img {

}

.login-cont {
    background-color: #E6E6FA;
    margin: auto;
    width: 30%;
    padding: 15px;
}

.ln-fld-icon {
    text-align: center;
    width: 20px;
    padding: 8px 10px;
    margin: 10px 0px;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.ln-icon {
    text-align: center;
    padding: 8px 10px;
    margin: 10px 0px;
    color: dodgerblue;
}

.ln-input-fld {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
    margin: 10px 0px;
}

.ln-btn {
    border: none;
    background-color: dodgerblue;
    padding: 14px 0px;
    margin: 10px 0px;
    color: white;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
}

.ln-btn:hover {
    opacity: 1;
}

.ln-input-fld:focus {
    border: 2px solid dodgerblue;
}

.eye-icon {
    position: absolute;
    right: 490px;
    top: 288px;
    cursor: pointer;
    padding: 5px;
}

.error {
  color: #ff0000;
}

.wd-300 {
    width: 300px;
}

.mrgn-auto {
    margin: auto
}

.border-2-solid-gray {
    border: 2px solid gray;
}

.d-flex{
    display:flex;
}

.bdr-rads-12 {
    border-radius: 12px;
}

.txt-al-ct {
    text-align: center;
}

.txt-al-lt {
    text-align: left;
}

.txt-al-rt {
    text-align: right;
}

label {
    margin-right: 30px;
}

.dsply-blk {
    display: block;
}

.padng-20 {
    padding: 20px;
}

.pdng-4 {
    padding: 4px;
}

.pdng-5 {
    padding: 5px;
}

.float-rt {
    float: right;
}

.float-lft {
    float: left;
}

.wd {
    width: 23%;
}

.wd-60 {
    width: 60%;
}
.ht {
    height: 250px;
}

.lin-ht-200 {
    line-height: 200%;
}

.padng-25 {
    padding: 25px;
}

.ht-100 {
    height: 100px;
}

.mrgn-20 {
    margin: 20px;
}

.padng-5 {
    padding: 5px;
}

.ln-ht-45 {
    line-height: 45px;
}

.mrgn-tp-15 {
    margin-top: 15px;
}

.mr-rt-4 {
    margin-right: 4px;
}

.padng-10 {
    padding: 10px;
}

.wd-30 {
    width: 30%;
}

.wd-50 {
    width: 50%;
}

.ht-400 {
    height: 400px;
}

.mrgn-btm-40 {
    margin-bottom: 40px;
}

* {
    margin-bottom: 10px;
}

.wd-45 {
   width: 45%;
}

.wd-96 {
    width: 96%;
}

.fnt-sz-13 {
    font-size: 13px;
}

.ht-450 {
    height: 450px;
}

.mrgn-top-0 {
    margin-top: -12px;
}

.ht-130 {
    height: 130px;
}

.pd-r-10{
    padding-right: 10px;
}

.pd-r-20{
    padding-right: 20px;
}

.flip, .panel {
    padding: 5px;
    background-color: pink;
    text-align: center;
    border: 2px solid yellow;

   }

   .panel {
   padding: 30px;
   display: none;
   }